# /etc/udev/rules.d/automount.rules
# Last changed:
# 2016-07-29
# Reference:
# http://unix.stackexchange.com/a/134903
# Purpose:
# Automount USB flash drives when plugged in.
# On the BeagleBone, flash drives plugged into the USB show up on /dev/sda.
# For most flash drives, the partition will appear on /dev/sda1. For some,
# however, the main partition appears on /dev/sda.
# pmount mounts the USB drive partitions on /media/sda*.
#
# 2016-07-29
# Added fsck every time the drive is mounted
ACTION=="add", KERNEL=="sd?*", RUN+="/bin/sh -c '/sbin/fsck /dev/%k && /usr/bin/pmount --umask=000 %k'"
