[Unit]
Description=Hygen Communication Management System service

[Service]
Type=simple
PIDFile=/var/run/hygencms.pid
ExecStart=/usr/local/bin/hygencms --daemon --watchdog
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
RestartSec=10
Restart=on-failure

[Install]
WantedBy=multi-user.target
