[Unit]
Description=Hygen Communication Management System service
Requires=configure_outputs.service

[Service]
Type=simple
PIDFile=/var/run/hygencms.pid
ExecStart=/home/hygen/HyGenCMS/cms --daemon --watchdog
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target
Alias=hygenlogger.service
